.env
__pycache__
__init__.py

# Ignorar contenido de resultados pero mantener la carpeta
logs/*.json
!logs/.gitkeep

# Ignorar contenido de resultados pero mantener la carpet
resultados/json/*
resultados/txt/*
!resultados/json/.gitkeep
!resultados/txt/.gitkeep